/*.deb
/*.ddeb
/*.buildinfo
/*.changes
/tor
/libs/libevent
/libs/openssl
/libs/xz
/libs/zlib
/libs/zstd
/libs/libevent-build-stamp
/libs/lzma-build-stamp
/libs/openssl-build-stamp
/libs/zlib-build-stamp
/libs/zstd-build-stamp
/libs/build_libs
